

<h1> Book Club Registration</h1>

<form action="/readers" method="post">
  <p> Your Name: <input type="text" name="reader[name]"> </p>
  <p> Your Age: <input type="integer" name="reader[age]"> </p>
  <p>Your Gender: <input type="text" name="reader[gender]"></p>

  <p>Your Location: <input type="text" name="reader[location]"></p>
  <p> Your Hobbies: <input type="text" name="reader[hobbies]"></p>
  <input type="submit" value="submit">
</form>
